*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #000000;
}

ul, li{
  list-style: none;
}

.flex-justify-start { justify-content: flex-start };
.flex-justify-end { justify-content: flex-end };
.flex-justify-center { justify-content: center };
.flex-justify-around { justify-content: space-around };
.flex-justify-between { justify-content: space-between };
.flex-align-start { align-items: flex-start };
.flex-align-end { align-items: flex-end };
.flex-align-center { align-items: center };
.flex-align-stretch { align-items: stretch };
.flex-align-baseline { align-items: baseline };
.flex-direction-column { flex-direction: column };
.flex-direction-row { flex-direction: row };